* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
    /* Плавная прокрутка на верх. Можно ставить на тот блок,
     на который нужно прокрутить */
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 50px;
}

body {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    position: relative;
}

@font-face {
    font-family: "Pacifico";
    src: url("fonts/Pacifico-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

/* HEADER  _______START */

header {
    background-image: linear-gradient(to bottom, 
                    #edeff2,
                    #e8f2f5,
                    #e3f5f4,
                    #e5f7ec, 
                    #f0f6e2);
}

.container {
    width: 1195px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* При нажатии на кнопку с лого переход к контактам */

/* .logo { */
    /*    display: inline-block;*/
    /* text-align: center; */
/* } */

/* .logo:hover { */
    /*    text-align: center;*/
    /*    background: url('img/resizeopasity.png') no-repeat center/contain;*/
    /*    background-position: left;*/
    /* transform: rotate(1deg); */
    /* transition: 0.5s; */
    /* box-shadow: 0 0 60px rgba(0, 0, 0, 0.2); */
    /* opacity: 0.5; */
    /* transform: scale(1.01); */
    /* background-color: #f5f5f5; */

/* } */

.nav_footer {
    margin-top: 0px;
}

.footer-logo__heading {
    text-align: center;
    font-family: "Pacifico";
    margin: 0;
    padding: 15px;

}

.nav_footer ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
}

.nav_footer ul li a {
    transition: 0.3s;
}

.nav_footer ul li a:hover {
    color: #7cc3f1;
    text-decoration: underline;
    transition: 0.3s;
}

.heading {
    margin-top: 50px;
}

.heading h1,
.heading_text {
    text-align: center;
    padding: 0 250px 0 250px;
    line-height: 1.6;
}

h1 span {
    color: #7cc3f1;
}

.heading_form p {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.heading_form {
    display: inline-block;
    background-color: #ffffff;
    width: 300px;
    padding: 15px 30px 15px 30px;
    margin-top: 115px;
    transition: 0.5s;
}

.heading_form:hover {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    transform: scale(1.04);
    transition: 0.5s;
}

.heading_form p span {
    color: #7cc3f1;
}

.form-input {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    resize: none;
    display: block;
    margin-bottom: 40px;
    font-size: 15px;
    width: 295px;
    padding: 10px 10px 5px 10px;
}

.heading_form-btn {
    font-size: 16px;
    display: block;
    border: 1px solid #7cc3f1;
    border-radius: 27px;
    height: 20px;
    width: 200px;
    padding: 15px 0 30px 0;
    text-align: center;
    margin: 0 auto;
    transition: 0.3s;
    /* animation: pulse 2s ease-out infinite; */
}

/* @keyframes pulse {
    from {
        height: 20px;
        width: 200px;
    }

    to {
        height: 20px;
        width: 202px;
        opacity: 0;
        background-color: rgb(64, 104, 100);
        color: #fff;
    }
} */

.heading_form-btn:hover {
    background-color: #7cc3f1;
    color: #fff;
    transition: 0.3s;
}

/* HEADER  __________FINISH */


/* SECTION 2 ________START */

.props_block {
    background-color: #fff;
    margin-top: 110px;
    display: flex
}

.props_container {
    margin-top: -5px;
}

.props h2 span {
    color: #7cc3f1;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    /* display: inline-block; */
    animation: pulse 
        0.5s 
        cubic-bezier(0.1,0.25,0.1,1) 0s 
        infinite 
        alternate 
        both; 
}

@keyframes pulse {
    from {
        /* border-radius: 40px; */
        bottom: 0; 
        box-shadow: 0 0 10px rgba(108, 186, 250, 0.5);
    }

    to {
        bottom: 50px; 
        box-shadow: 0 50px 50px rgba(124, 123, 123, 0.1);
    }
}

.props h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 145px;
}

.props_text {
    text-align: center;
    margin-top: 10px;
}


.props_block_item {
    min-width: 19%;
    position: relative;
    background-color: #dcebf6;
    margin-right: 30px;
    text-align: center;
    padding: 40px 20px 40px 20px;
    transition: 0.3s;
}

.props_block-1:hover {
    background-color: #4eb2f7;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    transform: scale(0.97);
    color: #fff;
    transition: 0.3s;
}

.props_block-2:hover {
    background-color: #c049f8;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    transform: scale(0.97);
    color: #fff;
    transition: 0.3s;
}

.props_block-3:hover {
    background-color: #817eff;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    transform: scale(0.97);
    color: #fff;
    transition: 0.3s;
}

.props_block-4:hover {
    background-color: #f74770;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    transform: scale(0.97);
    color: #fff;
    transition: 0.3s;
}

.props_block_item:last-child {
    margin-right: 0;
}

.props_block h3,
.props_block p {
    margin-top: 20px;
}


/* Кнопка WORKING */

.props_block-btn {
    /* background-color: #fff; */
    display: block;
    /* border: 0.05px solid #e7e7e7; */
    /* box-shadow: 0 0 60px rgba(0, 0, 0, 0.2); */
    /* border-radius: 27px; */
    /* height: 20px; */
    /* width: 200px; */
    /* padding: 15px 10px; */
    /* margin: 0 auto; */
    margin-top: 40px;
    position: absolute;
    top: 177px;
    left: 50%;
    transform: translateX(-50%);
}

.props_block-btn:hover {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}

/* Крестик слева кнопки */

/* .props_block-btn span {
    background: url("img/%D0%BAectangle.png") no-repeat;
    background-position: left;
    padding-left: 30px;
} */

/* Блок портфолио */

.img_container {
    background-color: #f5f5f5;
    margin-top: 130px;
    padding-bottom: 20px;
}

.img_portfolio h2 span {
    color: #7cc3f1;
}

.img_portfolio h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 145px;
}

.img_portfolio-text {
    text-align: center;
    margin-top: 10px;
}

.img_portfolio-item {
    margin-top: 115px;
    display: flex;
    flex-wrap: wrap;
}

.img_portfolio-item img {
    background-color: aqua;
    margin-right: 50px;
    margin-bottom: 50px;
}

.img_portfolio-item img:nth-child(3n) {
    margin-right: 0px;
}


/* Контакты */

.cont {
    background-color: #ffffff;
    padding-top: 25px;
    /* padding-bottom: 30px; */
}
/* .cont__item {

} */

.cont-soc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.cont-soc__list {
    list-style: none;
    margin-right: 15px;
    
}

.cont-soc__connection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-list__item img {
    transition: 0.3s;
}

.cont-list__item img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.5;
}

.tele {
    background-image: url("./img/telefon.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 48px 0 48px 60px;
}

.mail {
    background-image: url("./img/mail.png");
    
}

.cont-list__link {
    background-repeat: no-repeat;
    background-position: left;
    padding: 48px 0 48px 60px;
    transition: 0.3s;
}

.cont-list__link:hover {
    transform: scale(1.03);
    transition: 0.3s;
    opacity: 0.8;
}

.copyright {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #5c5c5c;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #d8d8d8;
}

/* Кнопка наверх */

.up-arrow {
    position: fixed;
    display: block;
    right: 40px;
    bottom: 45px;
    text-align: center;
    font-size: 15px;
    color: #949494;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

/* Блок с курcом валют */

.courses__many {
    /* width: 100%;
    height: 100px; */
    margin: 0px 0 20px 0;

}

.money_block {
    border-radius: 10px 0 0 10px;
    padding: 10px 0 10px 20px;
    line-height: 2;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    /* background: rgb(5, 142, 199); */
    background: linear-gradient(87deg,
                rgb(88, 205, 255) 0%, 
                rgb(254, 254, 254) 15%);
}